{% extends "response_base.html" %}

{% block content %}

<div class="formulario"></div>
<form action="{{ url_for('example_bp.form_response') }}" method="post">

    <textarea id="form1" name="form1" rows="2" cols="100" maxlength="1000" 
	placeholder = "Placedholder for form1" 
	required></textarea><br>

	<textarea id="form2" name="form2" rows="10" cols="100" maxlength="2000" 
	placeholder = "Placedholder for form2"		
 	required></textarea><br>

    
     {% for item in checklist %}
     {% if item in checked_checklist %}
       <label for="{{ options }}">
         <input type="checkbox" id="{{ options }}" name="options[]" value="{{ item }}" checked>
         {{ item }}
       </label>
     {% else %}
       <label for="{{ options }}">
         <input type="checkbox" id="{{ options }}" name="options[]" value="{{ item }}"> 
         {{ item }} 
       </label>
     {% endif %}
   <br>
   {% endfor %}
	
	<input type="submit" value="Submit">
	</form>
{% endblock %}